<h1><%= @user.name %></h1>
<div>
<h2>Recipes: </h2>

<% @user.recipes.each do |r| %>
    <p><%= link_to r.title, recipe_path(r) %></p>
<%end%>
</div><br><br>
<div>
<%= link_to 'delete this user', user_path(@user), method: 'delete', data: {confirm: "Are you sure? You will delete all your recipes too."} %>
</div>